---
import { Image } from 'astro:assets';
import GooglePlayLogo from '../assets/Google_Play_2022_logo.svg';

type Props = {
  url: string;
};

const { url } = Astro.props;
---

<a
  href={url}
  target={'__blank'}
  class='mdx flex gap-4 p-4 w-min items-center rounded-xl no-underline border hover:scale-[1.02] active:scale-[.98] transition ease-in-out cursor-pointer'
>
  <span class='text-lg text-[#5f6368] no-underline whitespace-nowrap'
    >Currently Available on</span
  >
  <Image src={GooglePlayLogo} alt='Google Play Logo' class='max-w-[8rem]' />
</a>
