---

---

<header class='back-header w-[720px]'>
  <a href={'javascript:history.back()'}>← Back</a>
</header>
<style is:inline>
  .back-header {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    margin-top: 1rem;
    padding-inline: 1rem;
  }
</style>
